h1 {
    position: absolute;
    left: 36%;
}
#start1 {
    position: absolute;
    bottom: 10%;
    left: 45%;
}
#push {
    position: fixed;
    width: 77vh;
    height: 70vh; 
    top: 15%;
    left: 28%;
    cursor: pointer;
}
#word1 {
    position: absolute;
    color: white;
    text-align: center;
    top: 190px;
    left: 190px;
}
#tc {
    position: absolute;
    text-align: center;
    bottom: 6%;
    left: 43%;
    font-size: 30px;
    font-weight: 400;    
}
#back {
    position: absolute;
    text-align: center;
    bottom: 3%;
    left: 45%;
}
