h1 {
    position: absolute;
    left: 36%;
}
#start1 {
    position: absolute;
    bottom: 10%;
    left: 45%;
}
#push {
    position: fixed;
    width: 77vh;
    height: 70vh; 
    top: 15%;
    left: 28%;
    cursor: pointer;
}
#word1 {
    position: absolute;
    color: white;
    text-align: center;
    top: 190px;
    left: 190px;
}
